<main class="main">

  <section class="search-section">
    <form method="GET"
          class="form">
      <label for="search"
             class="form__label"></label>
      <input type="text"
             id="search"
             name="search"
             placeholder="Enter a TV show name"
             class="form__search js-search" />
      <input type="button"
             name="button"
             id="button"
             value="Search"
             class="btn btn-primary js-btn" />
    </form>

    <section class="searchSection">
      <ul class="searchSection__list js-tvshows"></ul>
    </section>
    <section>
      <h3 class="favSection__subtitle">My favorites &#9829</h3>
      <ul class="favSection__list js-list-favorites"></ul>
    </section>

</main>