.main {
	margin-top: 50px;
	height: 80vh;
	font-family: $font-main;
	padding-left: 35px;
}

// .js__show--container {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: left;
// }
