body {
	background: url("../images/popcorntime-op.jpg") no-repeat left / cover fixed;
	@media all and (min-width: 768px) {
		background-color: $yellow;
		background: url("../images/popcorntime-op.jpg") no-repeat center / cover
			fixed;
	}
}
main {
	font-family: $font-main;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	margin-left: 15px;
	grid-gap: 40px;
	margin-top: 200px;
	@media all and (min-width: 768px) {
		font-family: $font-main;
		padding-left: 35px;
		grid-template-columns: minmax(200px, auto) 1fr;
		grid-gap: 120px;
	}
}

.resetBtn {
	cursor: pointer;
	background: transparent;
	border: 1px solid $yellow;
	background-color: rgba(0, 0, 0, 0.379);
	color: $white;
	border-radius: 15px;
	padding: 2px 18px 2px;
	font-size: 13px;
	height: 45px;
	margin: 15px 8px 0;
	font-family: $font-main;
	@media all and (min-width: 768px) {
		padding: 1px 10px 1px;
		border-radius: 15px;
		font-size: 16px;
		margin-left: 8px;
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.742);
		color: $yellow;
		cursor: pointer;
		transform: scale(1.1);
	}
	&:focus {
		outline: 0 none;
	}
}

.tvshows-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.tvshows {
	margin: 5px;
	padding: 10px;
	border: 2px solid $yellow;
	border-radius: 14px;
	cursor: pointer;
	text-align: center;
	@media all and (min-width: 768px) {
		padding: 20px;
	}

	&__img {
		height: 150px;
		max-width: 180px;
		justify-self: center;
		@media all and (min-width: 768px) {
			height: 250px;
		}
	}
	&__name {
		font-size: 12px;
		background-color: $yellow;
		color: $white;
		flex-wrap: wrap;
		border-radius: 5px;
		max-width: 120px;
		padding: 10px;
		text-align: center;
		font-family: $font-main;
		@media all and (min-width: 768px) {
			font-size: 14px;
			max-width: 180px;
		}
	}
	&__favorite {
		padding: 10px;
		border: 2px solid $yellow;
		border-radius: 14px;
		background-color: $yellow;
		margin: 5px;
		@media all and (min-width: 768px) {
			padding: 20px;
		}
	}
}

.favSection {
	margin: 5px;
	padding: 1px;
	margin-top: 0;
	border: none;
	cursor: auto;
	text-align: left;

	&__img {
		height: 120px;
		border: solid 2px $yellow;
		padding: 3px;
		border-radius: 10px;
		margin-top: 20px;
		@media all and (min-width: 768px) {
			height: 150px;
		}
	}
	&__name {
		width: 90px;
		text-align: center;
		border-radius: 14px;
		color: $black;
		@media all and (min-width: 768px) {
			width: 110px;
		}
	}
	&__title {
		font-size: 15px;
		background-color: $yellow;
		border-radius: 14px;
		padding: 8px;
		color: $black;
		text-align: center;

		@media all and (min-width: 768px) {
			font-family: $font-main;
			font-size: 20px;
		}
	}
	&__list {
		height: 400px;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			width: 3px;
			height: 1px;
			background: rgba(31, 31, 31, 0.427);
		}
		&::-webkit-scrollbar-thumb {
			background-color: red;
		}
	}
	&__removebtn {
		cursor: pointer;
		background: transparent;
		color: $black;
		margin-top: 5px;
		padding-left: 3px;
		padding-right: 3px;
		border: none;
		font-size: 15px;
		width: 90px;
		@media all and (min-width: 768px) {
			width: 110px;
		}
		&:hover {
			color: $white;
			cursor: pointer;
			transform: scale(1.1);
			border-radius: 15px;
		}
		&:focus {
			outline: 0 none;
		}
	}
}
